@font-face {
  font-family: "hotjar";
  src: url(https://script.hotjar.com/font-hotjar_5.f4b154.eot);
  src: url(https://script.hotjar.com/font-hotjar_5.f4b154.eot#iefix)
      format("embedded-opentype"),
    url(https://script.hotjar.com/font-hotjar_5.65042d.woff2)
      format("woff2"),
    url(https://script.hotjar.com/font-hotjar_5.0ddfe2.ttf)
      format("truetype"),
    url(https://script.hotjar.com/font-hotjar_5.17b429.woff) format("woff"),
    url(https://script.hotjar.com/font-hotjar_5.2c7ab2.svg#hotjar)
      format("svg");
  font-weight: normal;
  font-style: normal;
}
.icon{
    font-family: 'hotjar' !important;
}
body {
  margin: 0;
  font-family: Arial, sans-serif, Tahoma !important;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.drawer-main {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
}
.drawer {
  height: fit-content;
  width: 300px;
  background-color: #fff;
  transform: translateX(100%);
  transition: transform 0.5s;
  box-shadow: 0px 0px 8px #888888;
  border-radius: 8px 0 0 8px;
}
.drawer.expand{
    transform: translateX(0);
}
.drawer-title {
  text-align: center;
  font-size: 14px;
  color: #111111;
  padding-bottom: 4px;
  font-weight: bold;
}
.top {
  padding: 12px;
}
.commentIcon:before {
  content: "\e900";
  color: #ffd90280;
  position: absolute;
  font-size: 30px;
}
.icon-active:before {
  color: #ffd902;
}
.first-expressionIcon:before {
  content: "\e901";
  color: #3c3c3c;
  position: absolute;
  font-size: 30px;
}
.content {
  opacity: 0;
  position: absolute;
  bottom: -13px;
  font-size: 12px;
  left: 9px;
  color: #a3a4a4;
}

.active {
 opacity: 1;
}

.second-expressionIcon:before {
  content: "\e903";
  color: #3c3c3c;
  position: absolute;
  font-size: 30px;
}
.third-expressionIcon:before {
  content: "\e905";
  color: #3c3c3c;
  position: absolute;
  font-size: 30px;
}
.fourth-expressionIcon:before {
  content: "\e907";
  color: #3c3c3c;
  position: absolute;
  font-size: 30px;
}
.fifth-expressionIcon:before {
  content: "\e909";
  color: #3c3c3c;
  position: absolute;
  font-size: 30px;
}
.icon-wrapper {
  position: relative;
  width: 100%;
  height: 40px;
  cursor: pointer;
  margin-bottom: 15px;
  margin-top: 15px;
  &:hover {
    .commentIcon:before {
     color: #ffd902;
    }
    .content {
      opacity: 1;
      animation: slideIn 0.4s ease;
    }
  }
}
.animate-image {
  transform: translateY(-100%);
  animation: slideIn 0.1s forwards;
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.slider:before {
  content: "\e907";
  color: #324FBE;
  position: absolute;
  font-size: 10px;
}
.slide-wrapper {
  position: relative;
  transform: rotate(0deg) translateX(9px) translateY(47px);
  color: #fff;
  width: 12px;
}
.feedback-icon:before {
  content: "\e900";
  color: #fff;
  position: absolute;
  font-size: 10px;
}
.feedback p {
  transform: rotate(-90deg) translateX(-60px) translateY(16px);
  color: #fff;
}
.feedback {
  border-right: 38px solid #324FBE; 
  width: 0;
  height: 130px;
  border-radius: 5px 0 0 5px;
  position: absolute;
  left: -38px;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
  cursor: pointer;
}
.hide {
  display: none;
}
.feedback-text {
  display: flex;
  justify-content: space-between;
  color: #a3a4a4;
  font-size: 13px;
  margin-top: -10px;
}
.drawer-items {
  display: flex;
}
.drawer-items-main {
  margin-bottom: 10px;
}
.textarea-container {
  text-align: center;
}
.textarea {
  resize: none;
  width: 90%;
  height: 80px;
  border-radius: 4px;
  border: 1px solid #838696;
  padding: 6px;
  margin: 8px 0 16px 0;
  &::placeholder {
    color: #838696;
    font-size: 15px;
  }
  &:focus-within {
    outline-color: #324FBE !important;
    outline: 2px solid;
    outline-offset: 1px;
  }
}
.btn-inactive {
 padding: 10px 20px;
 border-radius: 5px;
 border: none;
 pointer-events: none;
 cursor: not-allowed;
 color: #a3a4a4;
}
.skip {
  cursor: pointer;
  background: transparent;
  border-radius: 3px;
  text-decoration: underline;
  font-size: 13px;
  padding: 7px 10px;
  border: 0;
  &:hover {
    color: #324fbe;
  }
  &:focus-within {
    outline: 2px solid !important;
    outline-offset: 1px;
    outline-color: #324fbe !important;
   }
}
.btn-active {
 padding: 10px 20px;
 border-radius: 5px;
 border: none;
 cursor: pointer;
 pointer-events: all;
 background: #324FBE;
 color: #fff;
 &:hover {
  background: #1c3286;
}
&:focus-within, :focus-visible, :focus {
  outline-color: #324FBE !important;
  outline: 2px solid;
  outline-offset: 1px;
}
}
.btn-container {
  border-top: 1px solid #e8e8e8;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-top: 10px;
  gap: 20px;
}
.alert {
  display: block;
  text-align: center;
}
.message {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.slide-img {
  width: 10px;
 position: absolute;
}
@media (max-width:450px) {
    .drawer {
        width:85vw;
    }
}
@media (max-width:380px) {
    .drawer-items .item p{
        font-size: 13px;
        letter-spacing: -.5px;
   }
}
